{% extends "base.html.twig" %}
{% block body %}
    
{#    <div class="container">
        <div class="col-xs-12" style="background-color: #fff; border-radius: 4px; border: 1px solid grey; padding: 20px;">
            <ol class="breadcrumb text-left">
                {% block breadcrumbs %}
                {% endblock breadcrumbs %}
            </ol>
            <h1>
                {% block h1 %}          
                {% endblock h1 %}
            </h1>#}
{#<div class="container">#}
            {% block audit_body %}
            {% endblock audit_body %}
{#</div>#}
{#        </div>#}
{#    </div>           #}
{% endblock body %}