{% extends "Audit/audit_base.html.twig" %}
{% set menu_selected = 'document' %}
{% block breadcrumbs %}
    <li><a href="{{public_base}}HealthSafety">Health and Safety</a></li>
    <li><a href="{{public_base}}HealthSafety/Document">Documents</a></li>
    <li><a href="{{public_base}}HealthSafety/Risk">Risk Assessments</a></li>
    <li class='active'>Edit</li>    
    {% endblock breadcrumbs %}

{% block h1 %} 
    Edit Risk Assessment
{% endblock h1 %}

{% block audit_body %}
{% endblock audit_body %}

{% block extra_js %}   
{% endblock extra_js %}